/* =========================================
   CONFIGURACIÓN GENERAL
========================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f8f9ff;
    color: #151944;
}

button,
a {
    cursor: pointer;
}

a {
    text-decoration: none;
}


/* =========================================
   CONTENEDOR
========================================= */
.app-container {
    display: flex;
    min-height: 100vh;
}
/* =========================================
   SIDEBAR
========================================= */
.sidebar {
    width: 250px;
    min-height: 100vh;
    background: linear-gradient(
        180deg,
        #ffffff,
        #f5f1ff
    );
    border-right: 1px solid #e5e0ff;
    padding: 25px 16px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

/* LOGO */
.logo-area {
    text-align: center;
    margin-bottom: 35px;
    color: #a451e9;
}

.PetCare{
    width: 200px;
}

.logo-area i {
    font-size: 45px;
    display: block;
}

.logo-area span {
    display: block;
    font-size: 27px;
    font-weight: 800;
}

.logo-area small {
    color: #777;
}


/* MENU */
.menu a {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 13px 15px;
    margin-bottom: 7px;
    border-radius: 12px;
    color: #7b62eb;
    font-weight: 500;
    transition: .3s;
}

.menu a i {
    font-size: 21px;
}

.menu a:hover {
    background: #eee8ff;
    transform: translateX(3px);
}

.menu a.active {
    color: white;
    background: linear-gradient(
        90deg,
        #b064ee,
        #9363f5
    );
    box-shadow:
        0 8px 20px
        rgba(186, 114, 219, 0.897);
}


/* AYUDA */
.help-box {
    margin-top: 35px;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(
        135deg,
        #7347ed,
        #a16bea
    );
    color: white;
}

.help-box h5 {
    font-weight: 700;
}

.help-box p {
    font-size: 14px;
    opacity: .9;
}

.help-box button {
    border: none;
    background: white;
    color: #8e52c7;
    padding: 10px 18px;
    border-radius: 25px;
    font-weight: 600;
}

/* =========================================
   CONTENIDO
========================================= */
.main-content {
    width: calc(100% - 250px);
    margin-left: 250px;
    padding: 25px 35px 60px;
}


/* HEADER */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.top-header h1 {
    font-size: 25px;
    color: #21165f;
    font-weight: 700;
}

.top-header h1 i {
    margin-right: 15px;
}

.top-header p {
    color: #777;
    margin-left: 40px;
}

.user-area {
    display: flex;
    align-items: center;
    gap: 15px;
}

.notification {
    font-size: 23px;
    color: #a555e7;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(
        135deg,
        #7046e8,
        #b071f1
    );
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* =========================================
   SELECTOR MASCOTAS
========================================= */
.pet-selector {
    background: white;
    padding: 20px;
    border: 1px solid #e8e1ff;
    border-radius: 20px;
    margin-bottom: 20px;
}

.section-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
 
.section-header h3 {
    font-size: 16px;
}

.section-header a {
    color: #8c46e8;
    font-size: 14px;
}

.pets-row {
    display: flex;
    gap: 15px;
}

.pet-option {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px;
    border: 1px solid #ddd8f5;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    transition: .3s;
}

.pet-option.selected {
    color: white;
    background: linear-gradient(
        90deg,
        #a465ec,
        #c988ee
    );
}

.pet-option:hover {
    transform: translateY(-3px);
}

.pet-photo {
    width: 55px;
    height: 55px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.pet-option h4 {
    font-size: 16px;
    margin: 0;
}

.pet-option p {
    margin: 0;
    font-size: 13px;
}

.status {
    width: 10px;
    height: 10px;
    background: #29c478;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
}

.status.offline {
    background: #bbb;
}

/* =========================================
   GRID
========================================= */

.dashboard-grid {
    display: grid;
    grid-template-columns:
        220px
        1fr
        1fr;
    gap: 20px;
}


/* TARJETAS */
.food-menu,
.food-plan,
.schedule-card,
.tracking-card,
.concentrate-card,
.recommendations-card {
    background: white;
    border: 1px solid #e9e4f8;
    border-radius: 20px;
    padding: 20px;
    box-shadow:
        0 8px 25px
        rgba(80, 55, 160, .05);
}

/* =========================================
   MENU ALIMENTACIÓN
========================================= */
.food-menu {
    grid-row: span 2;
}

.food-icon {
    font-size: 45px;
    text-align: center;
}

.food-menu h2 {
    text-align: center;
    font-size: 19px;
    margin-bottom: 20px;
}

.food-menu ul {
    list-style: none;
    padding: 0;
}

.food-menu li{
     padding: 12px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 14px;
}

.food-menu li.active {
    background: #f0eaff;
    color: #643be0;
}

.food-menu li i {
    margin-right: 8px;
}

/* =========================================
   TÍTULOS
========================================= */
.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card-title h2 {
    font-size: 18px;
    margin: 0;
}

.card-title i {
    color: #7147e8;
}

.card-title button {
    border: 1px solid #8258ee;
    color: #6b40dc;
    background: white;
    padding: 6px 15px;
    border-radius: 8px;
}

/* =========================================
   PLAN ALIMENTICIO
========================================= */
.food-plan {
    grid-column: span 2;
}

.food-data {
 display: grid;
    grid-template-columns: repeat(3,1fr);
    border: 1px solid #e7e2f5;
    border-radius: 12px;
} 

.food-data div {
    padding: 20px;
    text-align: center;
    border-right: 1px solid #e7e2f5;
}

.food-data div:last-child {
    border: none;
}

.food-data i {
    display: block;
    font-size: 28px;
    color: #7046e8;
    margin-bottom: 10px;
}

.food-data span {
    display: block;
    font-size: 13px;
}

.food-data strong {
    display: block;
    margin-top: 10px;
}

.info-alert {
    margin-top: 15px;
    padding: 12px;
    background: #f2edff;
    border-radius: 10px;
    color: #49378a;
    font-size: 13px;
}

/* =========================================
   HORARIOS
========================================= */
.meal {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px;
    border: 1px solid #eee;
    border-radius: 10px;
    margin-bottom: 8px;
}

.meal > span {
    font-size: 22px;
}

.meal div {
    flex: 1;
}

.meal strong {
    display: block;
    font-size: 14px;
}

.meal small {
    color: #777;
}

.meal b {
    color: #6840dd;
    font-size: 13px;
}

.reminder-btn {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background: #f3edff;
    border: 1px solid #bda6f9;
    color: #6338dc;
    border-radius: 10px;
}

/* =========================================
   SEGUIMIENTO
========================================= */
.progress-area {
    display: flex;
    align-items: center;
    gap: 30px;
}

.progress-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 12px solid #8b5cf6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progress-circle strong {
    font-size: 25px;
}

.progress-circle span {
    font-size: 10px;
    text-align: center;
}

.stats p {
    font-size: 13px;
    margin-bottom: 8px;
}

.stats strong {
    display: block;
}

.missed strong {
    color: red;
}

.success-message {
    background: #e9fff3;
    color: #198754;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 13px;
}
/* =========================================
   CONCENTRADO
========================================= */
.food-product {
    display: flex;
    gap: 15px;
}

.food-bag {
    width: 80px;
    height: 100px;
    background: #f4eee2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 8px;
}

.food-product h4 {
    color: #4323a9;
    font-size: 15px;
}

.food-product strong {
    font-size: 13px;
}

.food-product ul {
    padding-left: 15px;
    font-size: 12px;
    margin-top: 10px;
}

.change-food {
    width: 100%;
    padding: 10px;
    border: 1px solid #b798fa;
    background: #f4efff;
    color: #6338dc;
    border-radius: 8px;
}

.food-info {
    font-size: 12px;
    margin-top: 10px;
    color: #777;
}

/* =========================================
   RECOMENDACIONES
========================================= */
.recommendations-card {
    grid-column: span 2;
}

.recommendation-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.recommendation {
    padding: 12px;
    border: 1px solid #eee;
    border-radius: 12px;
    text-align: center;
}

.recommendation span {
    font-size: 11px;
    display: block;
    margin-bottom: 8px;
}

.recommended span {
    color: #15945c;
}

.occasional span{
     color: #dc8b00;
}

.avoid span {
    color: #e32929;
}

.food-image {
    font-size: 45px;
    margin: 10px;
}

.recommendation h4 {
    font-size: 14px;
}

.recommendation p {
    font-size: 11px;
    color: #777;
}

.vet-warning {
    margin-top: 15px;
    background: #f2edff;
    color: #5e3bc4;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
}


/* =========================================
   RESPONSIVE TABLET
========================================= */
@media (max-width: 1100px) {
    .sidebar {
        width: 210px;
    }

    .main-content {
        margin-left: 210px;
        width: calc(100% - 210px);
    }

    .dashboard-grid {
        grid-template-columns: 1fr 1fr;
    }

    .food-menu {
        grid-column: span 2;
        grid-row: auto;
    }

    .recommendations-card {
        grid-column: span 2;
    }
}


/* =========================================
   RESPONSIVE MÓVIL
========================================= */

@media (max-width: 768px) {
    .app-container {
        display: block;
    }

    .sidebar {
        position: relative;
        width: 100%;
        min-height: auto;
        padding: 15px;
    }

    .logo-area {
        margin-bottom: 15px;
    }

    .logo-area i {
        font-size: 35px;
    }

    .logo-area span {
        font-size: 23px;
    }

    .menu {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 5px;
    }

    .menu a {
        margin: 0;
        font-size: 12px;
    }

    .help-box {
        display: none;
    }

    .main-content {
        width: 100%;
        margin: 0;
        padding: 20px 15px;
    }

    .top-header {
        align-items: flex-start;
    }

    .top-header h1 {
        font-size: 20px;

    }
        
    .top-header p {
        margin-left: 0;
        font-size: 12px;
    }

    .user-area strong {
        display: none;
    }

    .pets-row {
        flex-direction: column;
    }

    .dashboard-grid {
        grid-template-columns: 1fr;
    }
    .food-menu,
    .food-plan,
    .recommendations-card {
        grid-column: span 1;
    }

    .food-data {
        grid-template-columns: 1fr;
    }

    .food-data div {
        border-right: none;
        border-bottom: 1px solid #eee;
    }

    .recommendation-grid {
        grid-template-columns: 1fr 1fr;
    }

    .progress-area {
        flex-direction: column;
    }
}


/* =========================================
   RESPONSIVE CELULAR PEQUEÑO
========================================= */

@media (max-width: 480px) {

    .menu {
        grid-template-columns: 1fr;
    }

    .section-header {
        flex-direction: column;
        gap: 10px;
    }

    .card-title {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .recommendation-grid {
        grid-template-columns: 1fr;
    }

    .food-product {
        flex-direction: column;
    }
}